
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.button-group {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* Bootstrap classes */
.card {
  @apply shadow p-4 bg-light;
  border: none;
  border-radius: 10px;
}

.card-header {
  @apply bg-primary text-white;
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-thumbnail {
  max-width: 200px;
  border: none;
  margin-bottom: 15px;
}

.rounded-circle {
  border-radius: 50%;
}

.btn-primary {
  @apply w-100 mb-2 ml-2 mr-2;
}

.btn-secondary {
  @apply w-100 mb-2 ml-2 mr-2;
}

.btn-success {
  @apply w-100 mb-2 ml-2 mr-2;
}

.btn-danger {
  @apply w-100 mb-2 ml-2 mr-2;
}

.btn-facebook {
  background-color: #1877f2; /* Facebook blue */
  color: #fff;
  margin: 20px auto;
  width: 300px;

}

.btn-facebook:hover {
  background-color: #1564b3; /* Darker shade on hover */
}

.font-weight-bold-i {
  margin-left: 20px;
  font-weight: bold !important;
}

.w-30 {
  width: 30% !important
}

.w-80 {
  width: 70% !important
}

.btn-github {
  background-color: #303133; /* Facebook blue */
  color: #fff;
  margin: 20px auto;
  width: 300px;

}

.btn-google {
  background-color: #f25618; /* Facebook blue */
  color: #fff;
  margin: 20px auto;
  width: 300px;


}

.btn-linkedIn {
  background-color: #18b4f2; /* Facebook blue */
  color: #fff;
}